@import url("https://api.fontshare.com/css?f[]=clash-display&display=swap");
@import url("https://api.fontshare.com/css?f[]=font-name&display=swap");
:root {
    background-color: black;
 }
#hd-card{
    padding: 2vw 1vw;
    height: 300px;
    width: 350px;
    

}
#hd-card #hd-label{
    font-size: 1.5vw;
    line-height: 2;
    font-weight: bold;
}
#hd-card #hd-desc{
    font-size: 1.1vw;
    line-height: 0;
}
#hd-card img{
    height: 60px;
}
/* */